.panel {
	padding: 20px;
	border-radius: 20px;
	background: var(--red);
	color: white;
	margin-right: 15px;
	margin-bottom: 15px;
	flex: 1;

	span,
	h3 {
		margin: 0;
	}

	h3 {
		font-weight: bold;
	}
}
