.menu {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	border-left: 5px solid white;
	padding: 8px;

	&:hover {
		border-left: 5px solid var(--red);
		background-color: rgb(204, 201, 201);
	}

	.menu-title {
		display: flex;
		align-items: center;

		svg {
			width: 20px;
			height: 20px;
			margin-right: 8px;
		}
	}
}
