html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

:root {
	--red: #eb414f;
}

a {
	text-decoration: none;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.text-red {
	color: var(--red);
}
